/* DEFAULTS */

nav, header, footer {
    display: block;
}
body{
    line-height: 1; 
    margin: 0;
}

p{
    font-size: 35px;
    line-height: 1.2;
}

article p{
    font-size: 28px;
    padding: 20px;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}


div.slopeicon img {
    display: block;
    margin: auto;
    box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.15), 2px 2px 17px 2px rgba(0, 0, 0, 1);
}

/* NAVIGATION BAR */

nav {
    width: 100;
    margin: 0;
}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    float: left;    

}

ul.topnav li.topnav_right {
    float: right;
}   

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
}

ul.topnav li a:hover {
    background-color: blue;
    color: white;
}

ul.topnav li.dropdown{
    display: none;
}

/* ############### CUSTOM STYLES ################### */

#section-1-gardient{
    background: linear-gradient(red, yellow);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(41, 31, 226) 0%, rgb(115, 115, 250) 35%, rgba(2,156,218,1) 82%, rgba(1,172,228,1) 87%, rgba(1,181,234,1) 90%, rgba(1,193,242,1) 94%, rgba(0,212,255,1) 100%);

}

div.leftside-col{
    margin-left: 30%;
}

div.rightside-col{
    margin-left:15% ;
}

h1.large{
    color: white;
    font-size: 56px;
    margin: 0;
    line-height: 70px;
}

form h2{
    color: white;

}

input[type="text"]{
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;

}

.container{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

footer.footsy{
    background-color: #666;
    padding-left: 10%;
}

footer.footsy h1{
    color:white;
    font-size: 35px;
}

footer.footsy ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

footer.footsy ul li{
    color: #eee;
    font-size: 22px;
    line-height: 1.5    ;
}


/* ############# Mobile ################# */
@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }

ul.topnav li.dropdown {
    display: block;
    float: right;
}

ul.topnav.responsive li.dropdown{
    position: absolute;
    top: 0;
    right: 0;   
}

ul.topnav.responsive {
    position: relative;

}

ul.topnav.responsive li{
    display: inline;
    float: none;
}

ul.topnav.responsive li a {
    display: block;
    text-align: left;
}


.col-6{
    width: 100%;
    margin: 0;
}

div.leftside-col,div.rightside-col{
    margin: 15px;

}

input[type="text"]{
    width: 350px;
}

div.videocontainer iframe{
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.col-7,.col-5,.col-4,.col-5{
    width: 100%;
    margin: 0;
}

article p{
    font-size: 25px;
}

div.slopeicon icon{
    width: 100%;

}

div.slopeicon{
    margin: 10px;
}

div.mobilestack{
    width: 50%;
}

}   
